.modal {
    height: 500px;
    width: 90%;
    position: absolute;
    background-color: rgba(245, 242, 242, 0.82);
    left: 50px;
    top: calc(50% - 250px);
    padding: 0 15px;
   
}

.close-btn-wrapper {
    position: relative;
}

.close-btn {
    position: absolute;
    top: -25px;
    z-index: 1000;
    left: calc(50%);
    background-color: rgba(245, 242, 242, 0.82);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 4;
    cursor: pointer;
    transition: ease-in-out 2s;
    
}

.comment-wrapper {
    overflow: auto;
    height: 500px;
    padding-top: 20px;
}

.comment-wrapper::-webkit-scrollbar {
    width: 0;
    display: none;
}

.comment {
    background-color: #eee;
    padding: 6px 3px;
    margin: 10px 2px;
    position: relative;
    min-height: 70px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.51);
    -webkit-box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.51);
    -moz-box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.51);
}

.reply {
    margin-left: 35px;
}

.alt-ui {
    border-radius: 17px 3px 3px 3px;
    background-color: #ddd !important;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

.heading {
    font-size: 18px;
    font-weight: 600;
    color: rgb(62, 62, 62);
    padding: 10px 70px 0;
}

.timestamp {
    position: absolute;
    right: 5px;
    top: 6px;
}

.close-btn:hover {
    transform: scale(1.02);
}

@media screen and (max-width: 768px){
    .modal {
        left: 25px;
    }

    .comment {
        padding-bottom: 40px;
    }

    .timestamp {
        right: 9px;
        bottom: 9px;
        top: auto;
    }

    .avatar {
        height: 30px;
        width: 30px;
        margin-right: 10px;
    }

    .heading {
       padding: 10px 10px 10px 40px;
       font-size: 16px;
    }
}